<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/style.css">
</head>

<body>
    <div class="wrapper">
        <!--Aqui estou setando a sidebar-->
        <aside id="sidebar" class="expand">
            <div class="d-flex justify-content-between p-4">
                <div class="sidebar-logo">
                    <a href="#">Codex</a>
                </div>
                <button class="toggle-btn border-0" type="button">
                    <i id="icon" class='bx bxs-chevrons-right'></i>
                </button>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class='bx bxs-dashboard'></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <span class="sidebar-subtitle">Vendas</span>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class='bx bxs-book'></i>
                        <span>Estoque</span>
                    </a>
                </li>
            </ul>
        </aside>
        <div class="main">
            <!--Aqui estou setando a navbar-->
            <nav class="navbar navbar-expand px-4 py-3">
                <form action="#" class="d-none d-sm-inline-block">
                    <div class="input-group input-group-navbar">
                        <input type="text" class="form-control border-0 rounded-0 pe-0" placeholder="Search..."
                            aria-label="Search">
                        <button class="btn border-0 rounded-0" type="button">
                            <i class='bx bx-search'></i>
                        </button>
                    </div>
                </form>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center gap-3">                                            
                                            <button class="btn border-0 p-0 botao-notifica" type="button" id="notification-btn">
                                                <i class='bx bx-bell'></i>
                                            </button>
                                            <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="d-flex align-items-center gap-3">
                                                                <!-- Imagem do avatar -->
                                                                <img src="/templates/img/3a7f7feec2ff8350ab8ff7f3fc5041af.jpg"
                                                                    class="avatar img-fluid rounded-5" alt="profile picture">
                
                                                                <!-- Spans empilhados verticalmente -->
                                                                <div class="d-flex flex-column">
                                                                    <span class="fw-bold fs-6 text-dark">Vinícius F.</span>
                                                                    <span class="fs-6 text-muted">Operador</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end rounded-0 border-0 shadow mt-3">
                                                <a href="#" class="dropdown-item">
                                                    <i class='bx bx-data'></i>
                                                    <span>Analytics</span>
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    <i class='bx bx-data'></i>
                                                    <span>Settings</span>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a href="#" class="dropdown-item">
                                                    <i class='bx bx-help-circle'></i>
                                                    <span>Help Center</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="content px-3 py4">
                <div class="container-fluid">
                    <div class="mb-3">
                        <h3 class="fw-bold fs-4 py-2">
                            Dashboard
                        </h3>
                        <div class="row g-3">
                            <div class="col-12 col-lg-10">
                                <div class="row justify-content-evenly">
                                    <!--Aqui estou criando os cards-->
                                    <div class="col-12 col-md-3">
                                        <div class="card shadow">
                                            <div class="card-body py-4">
                                                <div class="container mb-5">
                                                    <div class="row">
                                                        <div class="col-12 p-0">
                                                            <div
                                                                class="d-flex align-items-center justify-content-between gap-3">
                                                                <h6 class="mb-2 fw-bold fs-5">
                                                                    Empréstimos
                                                                </h6>
                                                                <i class='bx bxs-book icon-book-card'></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="fw-bold mb-2 fs-3">
                                                    52.003
                                                </p>
                                                <div class="container p-0">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="d-flex align-items-center gap-2">
                                                                <i class='bx bx-trending-up icon-trending-up'></i>
                                                                <span class="text-success">
                                                                    17%
                                                                </span>
                                                                <span class="fw-bold">
                                                                    Na última semana
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="card shadow">
                                            <div class="card-body py-4">
                                                <div class="container mb-5">
                                                    <div class="row">
                                                        <div class="col-12 p-0">
                                                            <div
                                                                class="d-flex align-items-center justify-content-between gap-3">
                                                                <h6 class="mb-2 fw-bold fs-5">
                                                                    Vendas
                                                                </h6>
                                                                <i class='bx bxs-book icon-book-card'></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="fw-bold mb-2 fs-3">
                                                    101.523
                                                </p>
                                                <div class="container p-0">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="d-flex align-items-center gap-2">
                                                                <i class='bx bx-trending-up icon-trending-up'></i>
                                                                <span class="text-success">
                                                                    23%
                                                                </span>
                                                                <span class="fw-bold">
                                                                    Na última semana
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="card shadow">
                                            <div class="card-body py-4">
                                                <div class="container mb-5">
                                                    <div class="row">
                                                        <div class="col-12 p-0">
                                                            <div
                                                                class="d-flex align-items-center justify-content-between gap-3">
                                                                <h6 class="mb-2 fw-bold fs-5">
                                                                    Contatos
                                                                </h6>
                                                                <i class='bx bxs-book icon-book-card'></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="fw-bold mb-2 fs-3">
                                                    74.315
                                                </p>
                                                <div class="container p-0">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="d-flex align-items-center gap-2">
                                                                <i class='bx bx-trending-up icon-trending-up'></i>
                                                                <span class="text-success">
                                                                    35%
                                                                </span>
                                                                <span class="fw-bold">
                                                                    Na última semana
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12 col-md-5 offset-md-1">
                                            <div class="chart-container">
                                                <div class="d-flex align-items-center mb-2 gap-2">
                                                    <button class="botao-dropdown btn border-0 p-0" type="button">
                                                        <i class='bx bxs-chevron-down icon-dropdown'></i>
                                                    </button>
                                                    <h3 class="fw-bold fs-6 mb-0">
                                                        Empréstimos recentes
                                                    </h3>
                                                </div>
                                                <canvas id="line-chart"></canvas>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5">
                                            <div class="chart-container">
                                                <div class="d-flex align-items-center mb-2 gap-2">
                                                    <button class="botao-dropdown btn border-0 p-0" type="button">
                                                        <i class='bx bxs-chevron-down icon-dropdown'></i>
                                                    </button>
                                                    <h3 class="fw-bold fs-6 mb-0">
                                                        Empréstimos recentes
                                                    </h3>
                                                </div>
                                                <canvas id="bar-chart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <div class="table-dashboard">
                                            <h3 class="fw-bold fs-4 my-2">Últimos serviços</h3>
                                            <table class="table table-borderless table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Nome</th>
                                                        <th scope="col">Livro</th>
                                                        <th scope="col">Categoria</th>
                                                        <th scope="col">Funcionário</th>
                                                        <th scope="col">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Anna</td>
                                                        <td>It a coisa</td>
                                                        <td>Empréstimo</td>
                                                        <td>Heitor</td>
                                                        <td>
                                                            <span class="status-badge-sucess">devolvido</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Julio</td>
                                                        <td>YOU</td>
                                                        <td>Empréstimo</td>
                                                        <td>Caio</td>
                                                        <td>
                                                            <span class="status-badge-warning">devolvido fora de
                                                                prazo</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Lucas</td>
                                                        <td>Harry potter</td>
                                                        <td>Venda</td>
                                                        <td>Heitor</td>
                                                        <td>
                                                            <span class="status-badge-neutral">Venda efetuada</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <div class="bg-white shadow rounded-2 p-3 h-100 overflow-hidden">
                                    <h3 class="fw-bold fs-5">Produtos populares</h3>
                                    <!--A partir daqui vou listar os produtos populares-->
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="d-flex align-items-center gap-3 mt-3">
                                                    <!-- Imagem da capa -->
                                                    <img src="" class="avatar img-fluid rounded-5" alt="Capa de livro">

                                                    <!-- Spans empilhados verticalmente -->
                                                    <div class="d-flex flex-column">
                                                        <span class="fw-bold fs-6 text-dark">Harry potter e</span>
                                                        <span class="fs-6 text-muted">$10</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
    <script src="script/script.js"></script>
</body>

</html>